.btn1{
  background-color:#3f525c ;
  color:white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px ;
  padding: 10px;
}

.btn2{
  background-color:#eeeeee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px ;
  border-color: #eeeeee;
  width: 250px;
  text-align: left;
}
a{
  text-decoration: none;

}
#hehe{
  display: flex;
  justify-content: center;
  
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 10px;
}
h2 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  margin: 2em;
}


.btn2:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

